.tag-default {
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-right: 0.6em;
  padding-bottom: 0.1rem;
  padding-left: 0.6em;
  white-space: nowrap;
  margin-top: 0;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  margin-left: 0;
  display: inline-block;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
  cursor: pointer;
}

.trending-tag {
  background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?w=200&q=60');
  background-size: cover;
  color: var(--white-color) !important;
  &:hover {
    background-image: url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?w=200&q=60');
  }
}
